/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  /* color: #0afea4e2; */
  /* color: #05f59d; */
  /* color: #ffb507; */
  /* color: rgb(31, 159, 228); */
  font-family:  sans-serif;
  /* background-image:linear-gradient(60deg,rgb(6, 31, 106),rgb(97, 215, 113)) ; */
  /* background-image:linear-gradient(60deg,#23304c,#021233) ; */
/* background-color: #f9fcf5; */
}
.container{
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  /* background-color: #fce515; */
}
section{
  padding: 50px 0;
}